
h1{

    font-size: 60px;
    color: rgb(247, 250, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   
}


 
.photo{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto; 
}    

.nav{
        margin: 25px;
       
    }   
.nav a{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 100px;
    }
    
    /* Change the link color to #111 (black) on hover */
.nav a:hover {
        background-color: #111;
    }  


h2{
    font-size: 24px;
    text-align: center;
    line-height: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 35px;
    color: rgb(247, 250, 247);
}
h3{
    font-size: 25px;
    text-align: center;
    color: rgb(247, 250, 247);
}

body {
    background-color: rgb(88, 43, 45); /* Le fond de la page sera noir */
    color: rgb(15, 15, 15); /* Le texte de la page sera blanc */
    width :100% ;

    
}
.image2{
    display: flex;
    justify-content: center;
}
.div{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: #fffcfc;
    color: aliceblue;
    line-height: 25px;
    color: rgb(247, 250, 247);   
}

h4{
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    font-size: 22px;
}
ul{
    text-align: center;
}

.objectifs{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.liste{
    
    font-size: 15px;
    width: 400px;
    margin: auto;
    color: rgb(247, 250, 247);
    font-size: large;   
}
ol{
    text-align: justify;    
}
ul{
    list-style-type: none;
}

.style1{
    text-align: justify;
}

.center{
    max-width: 271px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    padding: center;
    color: rgb(247, 250, 247);
}

table{
    margin: auto;
    
    
    
}
.tableau{
    align-items: center;
    margin: auto;
    text-align: center;

}

th{
    font-family: monospace;
    border: thin old;
    width: 50%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
  
}
td{
    font-family: monospace;
    border: thin old;
    width: 50%;
    padding: 5px;
    background-color: rgb(255, 255, 255); 
}
.mespassions{
    max-width: 510px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    padding: center;
    color: rgb(247, 250, 247);
}
.index{
    max-width: 510px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    padding: center;

}
.copyright{
    color: rgb(247, 250, 247);
    text-align: center;
    width :100%
    
}
@media screen{ (max-width: 576px;)
    .nav a{
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        height: 50px;
    }
        /* Change the link color to #111 (black) on hover */
    .nav a:hover {
    background-color: #111;
}  

}
    


