

h1{

    font-size: 75px;
    color: rgb(219, 161, 161);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
}


 
div{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto; 
}    

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        margin: 25px;
    }
    
li {
        float: left;
    }
    
li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
li a:hover {
        background-color: #111;
    }  


h2{
    font-size: 24px;
    text-align: center;
    line-height: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}
h3{
    font-size: 25px;
    text-align: center;
}

body {
    background-color: rgb(240, 200, 200); /* Le fond de la page sera noir */
    color: rgb(15, 15, 15); /* Le texte de la page sera blanc */
    
}
p{
    text-align: justify;
    font-size: 20px;
    margin: 25px;
    font-weight: 100;
}

.image2{
    display: flex;
    justify-content: center;
}
    

div{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    text-align: center;
}

.footer{
    text-align: center;
    background-color: #111;
    color: aliceblue;
    line-height: 25px;
   
}
div{
    text-align: center;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    font-size: 22px;
}
ul{
    text-align: center;
}

.objectifs{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.liste{
    text-align: right;
    text-align: justify;
    font-size: 20px;
    line-height: 50px;

}


.style1{
    text-align: justify;
}